<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>DashBoard</title>
</head>
<body>
	<section>
		<div class="card">
			<!-- session message -->
			<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center" role="alert">
  				<p th:text="${session.message.content}"></p>
  				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- end session message -->
			
			<div id="dash_board" class="card-body text-center">
				<div >
					<h1 id="user_name">
						Welcome <span th:text="${user.name}"></span>
					</h1>
				</div>
				
				<h3  id="user_ask" >Want to add new Contacts?</h3>
				<a th:href="@{/user/add-contact}" class="btn btn-success btn-lg" >Click Here</a>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
		<script>
		 	$(document).ready( ()=>{
		 		$(".item").removeClass("active");
		 		$("#home-itm").addClass("active-link");
	  		});
		</script>
	</section>
</body>
</html>