<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="fw-bold ">Smart Contact Manager</h1>
			<p class="fs-5">
				We provide very efficient and smarter way of handling contacts.
			</p>
			<a th:href="@{/signin}" id="start" class="btn btn-lg text-white">Get Started</a>
		</div>
	</section>
</body>
</html>
