<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Change Password Form</title>
</head>
<body>
	<section>
		<div class="container change">
			<div class="row ">
				<div class="col-md-5 offset-md-3  mx-auto">
					<div class="my-card rounded-4 px-4">						
						<h3 class="my-3">Enter new password</h3>	
											
						<form method="post" th:action="@{/change-password}">
							<div class="form-group">
								<input name="newpassword" required="required" type="password" class="form-control" placeholder="Enter new password" />
							</div>
							<div class="container text-center">
								<button class="btn btn-warning mb-3 mt-4">Change Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>